.output-container{
    width: 99%;
    height: 50%;
    display: flex;
    align-items: center;
    overflow: scroll;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 15px;
    
    flex-wrap: wrap;
}
.output-container::-webkit-scrollbar{
    display: none;
}
